
<!DOCTYPE html>
<html> 
<head>
<!-- Basic Page Needs ============== -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Locksign</title>

    <!-- Mobile Specific Metas ============== -->
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
     
    <!-- favicon ============== -->
   <link rel="shortcut icon" type="image/ico" href="images/favicon-16x16.png" /> 

    <!-- CSS ============== -->
    <!--link rel="stylesheet" type="text/css" href="../css/croppie.css" /-->
    <link rel="stylesheet" type="text/css" href="css/common.css" /> 
    <link rel="stylesheet" type="text/css" href="css/login.css" /> 
    <!-- js ============== -->
    <script src="js/jquery-1.11.3.min.js"></script>


</head>
    <body class="outer-page home-page">
        <!-- loader on page load -->
        <div class="loader-sec" id="preloader">
            <div class="loader-center"  id="status">
                <div class="loader">
                    <div class="loader-inner">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="loader-inner2">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>  
        </div> 
        <!-- loader end -->        
        <div class="wrapper home-inner">
            <!--header start-->
            <div class="header header-new" data-aos="fade-down" data-aos-easing="ease-out-cubic"  data-aos-duration="800">
                <div class="container">
                <div class="nav-toggle">
                    <a id="menu_toggle">
                        <i class="icon bars"></i>
                        <i class="icon bars"></i>
                        <i class="icon bars"></i>
                    </a>
                </div>

                    <div class="logo"><a href="index.html"><img src="images/logo-icon.png" alt="">LockSign</a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="index.html#work">How It Works</a></li>
                            <li><a href="index.html#locksign">Why LockSign</a></li>
                            <li><a href="index.html#price">Pricing</a></li>
                        </ul>    
                    </div>
                    <div class="menu_login">
                       <ul>
                            <li><a href="login.html">Log in</a></li>
                            <li><a href="singup.html" class="btn">Signup for Free</a></li>  
                       </ul> 
                    </div>
                </div>    
            </div>    
            <!--header end-->
            <div class="body-wrapper">
                <div class="container font-title">
                <h3 >Terms &amp; Conditions</h3>    
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

                <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            </div>    


            <div class="footer-section">
                <div class="container">
                    <div class="footer-menu">
                        <div class="col-2" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="800">
                            <span>Trending Topics</span>
                            <ul>
                                <li><a href="javascript:;">LockSign Vs SignEasy</a></li>
                                <li><a href="javascript:;">eSign Act</a></li>
                                <li><a href="javascript:;">eIDAS</a></li>
                                <li><a href="javascript:;">GDPR Compliance</a></li>
                                <li><a href="javascript:;">Sign PDF Online</a></li>
                                <li><a href="javascript:;">Create eSignature</a></li>
                            </ul>
                            
                        </div>   
                        <div class="col-2"  data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="800">
                            <span>Company</span>
                            <ul>
                                <li><a href="javascript:;">About Us</a></li>
                                <li><a href="javascript:;">Team</a></li>
                                <li><a href="javascript:;">Our Journey</a></li>
                                <li><a href="privacy.html">Privacy Policy</a></li>
                                <li><a href="terms.html">Terms &amp; Conditions</a></li>
                            </ul>
                            
                        </div>
                         <div class="col-2"  data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="800">
                            <span>Resources</span>
                            <ul>
                                <li><a href="help.html">Help Centre</a></li>
                                <li><a href="javascript:;">Contact Us</a></li>
                                <li><a href="javascript:;">Blog</a></li>

                            </ul>
                        </div>
                        <div class="col-3"  data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="800"> 
                            <div class="logo"><a href="index.html"><img src="images/logo-icon.png" alt="">LockSign</a>
                            </div>
                            <span><a href="mailto:contact@locksign.com">contact@locksign.com</a></span>
                            <p>(+1) 123-456-7890</p>   
                        </div>                                                                    
                    </div> 
                </div>     
                <div class="footer-copyright" ><div class="container"><p>&#169; 2019 <span>Locksign</span>, All Right Reserved </p> </div></div>   
                               
            </div> 
             <!--footer end-->
        </div>
    </body>
</html>

<!--js files-->

<script src="js/swiper.min.js"></script>
<script src="js/home.js"></script>


